.topic-skills ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  li {
    flex-basis: 25%;
    padding: 10px;
    display: flex;
    justify-content: center;

    .icon {
      width: 80px;
      height: 50px;
    }
  }
}
.topic-list ul li {
  list-style: circle;
}
