.homepage > .sidebar .get-in-touch {
  // position: absolute;
  // top: 85vh;
  // left: 20px;
  ul {
    display: flex;
    justify-content: center;
    li {
      padding: 0 5px;

      .fa{
        font-size: 25px;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .homepage > .sidebar .get-in-touch{
    position: initial;
  }
}